&.message {
	font-family: $font-body;
	background: #1f2026;
	color: #ddd;
	position: relative;
	border: 1px solid #000000aa;
	margin-bottom: 5px;

	&::before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		height: 100%;
		background-image: url("../assets/grimwild-page-texture-dark.webp");
		background-size: cover;
		mask-image: linear-gradient(to bottom, black, #00000055);
		opacity: 0.75;
		z-index: 0;
		pointer-events: none;
		border-radius: 5px;
	}

	> * {
		z-index: 1;
	}

	.message-sender {
		font-family: $font-body;
		font-size: 18px;
		color: #ffffff;
	}

	.flavor-text {
		font-family: $font-sans;
	}

	h1,
	h2,
	h3 {
		border: none;
		font-family: $font-body;
	}

	.message-header {
		color: #999;
		background: #ffffff11;
		border-radius: 5px;
		padding: 2px 4px;
	}

	.message-content {
		.results {
			margin: 1rem 0 0;
		}

		.dice-tooltip {
			padding-top: 4px;
			border-top: 1px solid #333;
		}
	}
}