&.character {
	.profile-img {
		width: auto;
		height: auto;
		max-height: 100px;
	}

	.trait,
	.desire {
		input[type="checkbox"] {
			flex: 20px 0;
			height: 20px;

			&::after {
				content: '';
			}

			&:not(:checked) {
				&::before {
					color: var(--color-level-error);
					content: "\f00d";
				}
				&::after {
					content: '';
				}
			}

			&:checked {
				&::before {
					color: var(--color-level-success);
					content: '\f00c';
				}
				&::after {
					content: '';
				}
			}
		}

		&.not {
			input[type="text"] {
				background-color: #ff000022;
			}
		}
	}
}