h2 {
	font-family: $font-display;
	font-weight: bold;
}

&.crit h2,
&.perfect h2 {
	body.theme-dark & {
		color: #00bd00;
	}

	body.theme-light & {
		color: #007a00;
	}
}

&.messy h2 {
	body.theme-dark & {
		color: #ffd400;
	}

	body.theme-light & {
		color: #d68c03;
	}
}

&.grim h2 {
	body.theme-dark & {
		color: #999;
	}

	body.theme-light & {
		color: #555;
	}
}

&.disaster h2 {
	body.theme-dark & {
		color: #ff5c37;
	}

	body.theme-light & {
		color: #9c1e01;
	}
}

.dice {
	display: flex;
	flex-direction: column;
	gap: 4px;

	.dice-rolls {
		margin: 0;
		display: flex;
		gap: 4px;
		flex-wrap: wrap;

		.roll {
			order: 1;
		}

		> span {
			order: 2;
		}
	}

	.die {
		font-family: $font-dice;
		background: #444;
		background-image: none !important;
		border-radius: 2px;
		margin: 0;
		width: 24px;
		height: 24px;
		line-height: 24px;
	}

	.d8 {
		overflow: visible;
		background: transparent;
		position: relative;
		z-index: 1;
		height: 28px;
		line-height: 28px;

		&::before,
		&::after {
			display: block;
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
			border-bottom: 15px solid #444;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			z-index: -1;
		}

		&::after {
			top: auto;
			bottom: 0px;
			border-bottom: none;
			border-top: 14px solid #444;
		}
	}

	.perfect {
		color: #00bd00;
	}

	.messy {
		color: #ffd400;
	}

	.grim {
		color: #999;
	}

	.cut {
		color: #ff5c37;
	}

	.skip {
		color: #999;
	}

	.divider {
		background: none;
		color: white;
	}
}

.dice-actions {
	display: flex;
	flex-direction: row;
	align-items: first baseline;
	justify-content: space-between;
	gap: 0.5rem;

	.segment {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		flex: 1;

		&.difficulty {
			flex: 0 0 auto;
			flex-direction: row;
			gap: 1px;
			align-items: baseline;
		}
	}

	button {
		height: 1.5rem;
		line-height: 1.5rem;
		min-height: 1.5rem;
		text-align: center;
		white-space: nowrap;
		background: var(--button-background-color);
		border: 1px solid var(--button-border-color);
		border-radius: 4px;
		color: var(--button-text-color);
	}

	.configure {
		flex: 0 0 auto;
	}

	label {
		flex: 0 0 auto;
		padding-right: 5px;
	}
	.option {
		flex: 0 0 auto;
		width: 1.5rem;

		&.active {
			background: var(--button-hover-background-color);
			color: var(--button-hover-text-color);
			border-color: var(--button-hover-border-color);
			transition: background-color 0.5s, border-color 0.5s;
		}
	}
}