.item-form {
  font-family: $font-sans;
}

.standard-form {
  input[type="text"],
  input[type="number"] {
    height: auto;
    line-height: 1.8;
  }

  input::placeholder {
    font-style: italic;
    opacity: 0.5;
  }

  .stats,
  .harm,
  .spark,
  .story,
  .name,
  .path {
    input {
      box-shadow: 0 0 5px 0 #00000099;
    }
  }
}

.sheet-header {
  // flex: 0 auto;
  // overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
  }

  .header-fields {
    flex: 1;
  }
}

.sheet-tabs {
  // flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

.tab.biography {
  flex: 1;

  .editor {
    height: 100%;
  }
}

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}

.form-group.stacked {
  > label {
    line-height: 1;
    padding-top: $padding-md;
  }
}

.xp {
  margin-top: 8px;

  > .grid {
    margin: 0;
  }

  input[type="checkbox"]:last-child {
    &::before {
      color: #483d49;
    }

    &:checked::before {
      color: var(--checkbox-checkmark-color);
    }

    &:checked::after {
      color: #e45117;
    }
  }
}

.wises > .form-group.stacked,
.traits > .form-group.stacked,
.desires > .form-group.stacked,
.bonds > .form-group.stacked {
  gap: 2px;
}

.bonds-fieldset {
  position: relative;

  .bond-create {
    position: absolute;
    top: -20px;
    right: 16px;
    background: black;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border: 1px solid;
    border-radius: 4px;

    &:hover,
    &:focus {
      color: #1076b9;
      text-shadow: none;
    }
  }
}

.bond {
  position: relative;

  &:hover {
    .bond-delete {
      display: block;
    }
  }

  .bond-delete {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -8px;
    margin: auto;
    background: black;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border: 1px solid;
    border-radius: 4px;

    &:hover,
    &:focus {
      color: #5d142b;
      text-shadow: none;
    }
  }
}

.xp {
  gap: 0;

  input[type="checkbox"] {
    margin: 0;
  }
}