.item-form {
	font-family: $font-body;
}

.standard-form {
	input[type="text"],
	input[type="number"] {
		height: auto;
		line-height: 1.8;

		body.theme-light & {
			background: #ffffff33;
			border-color: #00000022;
		}
	}

	input::placeholder {
		font-style: italic;
		opacity: 0.5;
	}

	fieldset {
		legend {
			font-variant: small-caps;
			font-size: 18px;
		}
	}
}

.sheet-header {
	// flex: 0 auto;
	// overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: 10px;

	.profile-img {
		flex: 0 0 100px;
		height: 100px;
		margin-right: 10px;
	}

	.header-fields {
		flex: 1;
	}
}

.sheet-tabs {
	// flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
	height: 100%;
}

.tab.biography {
	flex: 1;

	.editor {
		height: 100%;
	}
}

.tox {
	.tox-editor-container {
		background: $c-white;
	}

	.tox-edit-area {
		padding: 0 8px;
	}
}

.form-group.stacked {
	> label {
		line-height: 1;
		padding-top: $padding-md;
	}
}

.xp {
	margin-top: 8px;

	> .grid {
		margin: 0;
	}

	input[type="checkbox"] {
		width: 20px;
		height: 20px;

		&::before,
		&::after {
			font-size: 18px;
			line-height: 18px;
			margin: 0;
		}
	}

	input[type="checkbox"]:last-child {
		&::before {
			color: #483d49;
		}

		&:checked::before {
			color: var(--checkbox-checkmark-color);
		}

		&:checked::after {
			color: #e45117;
		}
	}
}

.wises > .form-group.stacked,
.traits > .form-group.stacked,
.desires > .form-group.stacked,
.bonds > .form-group.stacked,
.conditions > .form-group.stacked {
	gap: 2px;
}

// Add another fieldset.
.add-another-entries {
	position: relative;
	margin-top: 4px;

	fieldset {
		position: relative;
	}

	.legend-control {
		position: absolute;
		top: -20px;
		right: 16px;
		width: 20px;
		height: 20px;
		text-align: center;
		line-height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;

		i {
			margin: 0;
		}
	}
}

.entry {
	position: relative;

	&:hover {
		.entry-delete {
			display: block;
		}
	}

	.entry-delete {
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
		right: -8px;
		margin: auto;
		background: black;
		width: 20px;
		height: 20px;
		text-align: center;
		line-height: 20px;
		border: 1px solid;
		border-radius: 4px;

		&:hover,
		&:focus {
			color: #ba0505;
			text-shadow: none;
		}
	}
}

// Bonds.
.bonds-fieldset {
	position: relative;

	.bond-create {
		position: absolute;
		top: -20px;
		right: 16px;
		width: 20px;
		height: 20px;
		text-align: center;
		line-height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;

		i {
			margin: 0;
		}
	}
}

.bond {
	position: relative;

	&:hover {
		.bond-delete {
			display: block;
		}
	}

	.bond-delete {
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
		right: -16px;
		margin: auto;
		background: black;
		width: 20px;
		height: 20px;
		text-align: center;
		line-height: 20px;
		border: 1px solid;
		border-radius: 4px;

		&:hover,
		&:focus {
			color: #ba0505;
			text-shadow: none;
		}
	}
}

// Conditions.
.conditions-fieldset {
	position: relative;

	.condition-create {
		position: absolute;
		top: -20px;
		right: 16px;
		width: 20px;
		height: 20px;
		text-align: center;
		line-height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;

		i {
			margin: 0;
		}
	}
}

.condition {
	position: relative;

	&:hover {
		.condition-delete {
			display: block;
		}
	}

	.condition-delete {
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
		right: -16px;
		margin: auto;
		background: black;
		width: 20px;
		height: 20px;
		text-align: center;
		line-height: 20px;
		border: 1px solid;
		border-radius: 4px;

		&:hover,
		&:focus {
			color: #ba0505;
			text-shadow: none;
		}
	}
}

.condition-duration {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 8px;
}

.condition-roll,
.conditoin-value-pool {
	flex: 0;
}

.condition-value-pool {
	white-space: nowrap;
	flex-wrap: nowrap;
	gap: 4px;

	input {
		width: 0;
		padding: 0;
		height: auto;
		line-height: 1;
		flex: 0;
		border: 1px solid;
		text-align: center;
	}
}

.condition-roll {
	padding: 4px 10px;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;

	i {
		padding: 0 4px 0 0;
		margin: 0;
	}

	strong {
		padding: 0;
	}
}

.condition-value-pool {
	display: flex;
	align-items: center;
	flex-direction: row;
}

// XP
.xp {
	gap: 0;

	input[type="checkbox"] {
		margin: 0;
	}
}

// Pools
.roll-pool {
	> * {
		flex: 0;
	}

	> input {
		flex: 0 0 40px;
	}

	button {
		text-align: center;

		i {
			margin: 0;
		}
	}
}

.standard-form {
	.roll-pool {
		flex-wrap: nowrap;
	}
}