&.monster {
  .item-image {
    flex: 0 0 24px;
  }

  .item-name {
    gap: 8px;

    .rollable {
      flex: 0 auto;
      flex-wrap: nowrap;
    }
  }

  .header-fields {
    align-items: flex-end;
  }

  .challenge {
    .item-description {
      hr + ul {
        list-style-type: disc;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
