* {
    color: $c-white;
    text-align: center;
    font-family: $font-display;
}

#sus-control-inner {
    display: flex;
    justify-content: left;
    margin: 1px;
}

#sus-adjust {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
}

button {
    background: $c-black;
    pointer-events: all;
    border-color: $c-dark;
    margin: 1px;
}

#sus-display {
    background: $c-black;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 2px;
    border: 1px solid;
    border-radius: 4px;
    border-color: $c-dark;
    margin: 1px;
}

#js-sus-current {
    padding: 2px;
    font-size: xx-large;
}

#sus-label {
    padding: 2px;
    max-height: fit-content;
}