.talents {
  .talent {
    padding: 4px 0;
    margin: 0;

    + .talent {
      border-top: 1px solid #ffffff22;
    }
  }

  .item-resources {
    flex: 0 0 auto;
  }

  .resource {
    background: #ffffff11;
    padding: 2px;
    border-radius: 4px;
    margin: 1px;
    flex-wrap: nowrap;

    strong {
      padding: 0 8px;
    }
  }

  .resource-steps {
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    input[type="checkbox"] {
      margin: 0;
    }
  }
}