.window-app {
  font-family: $font-sans;
}

.rollable {
  &:hover,
  &:focus {
    color: $c-black;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.application {
  .window-content {
    display: flex;
    flex-direction: column;
  }

  .sheet-header {
    flex: 0 auto;
  }

  .sheet-tabs {
    flex: 0 auto;
  }

  .tab {
    flex: 1;
    overflow-y: auto;
  }
}