.grimwild.window-app,
.sheet.journal-entry {
	font-family: $font-body;
}

.rollable {
	&:hover,
	&:focus {
		color: $c-black;
		text-shadow: 0 0 10px red;
		cursor: pointer;
	}
}

.application {
	.window-content {
		display: flex;
		flex-direction: column;
	}

	hr {
		.theme-light & {
			color: var(--grimwild-c-tan);
			background-image: linear-gradient(90deg, transparent 0%, var(--grimwild-c-tan) 50%, transparent 100%);
			opacity: 0.25;
		}
	}

	.sheet-header {
		flex: 0 auto;
	}

	.sheet-tabs {
		flex: 0 auto;
	}

	.tab {
		flex: 1;
		overflow-y: auto;
	}
}

.grimwild {
	font-family: $font-body;

	.theme-light & {
		background: #fff9ef;
	}

	h1, h2, h3, h4 {
		font-family: $font-body;
		font-weight: bold;
		color: inherit;
		text-shadow: none;
		line-height: 1.1;
	}

	.window-content {
		position: relative;

		button {
			font-family: $font-body;
		}

		.theme-dark &::before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			height: 300px;
			background-image: url("../assets/grimwild-page-texture-dark.webp");
			background-size: cover;
			mask-image: linear-gradient(to bottom, black, transparent);
			opacity: 1;
			z-index: -1;
			pointer-events: none;
		}

		.theme-light &::before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			height: 100%;
			background-image: url("../assets/grimwild-page-texture-light.webp");
			background-size: cover;
			mask-image: linear-gradient(to bottom, black, transparent);
			opacity: 0.75;
			z-index: -1;
			pointer-events: none;
		}

		.tabs {
			border: none;
			font-family: $font-display;
			text-transform: uppercase;
		}

		.tab-link.active {
			font-weight: bold;
			text-decoration: underline;
			text-decoration-thickness: 2px;
		}
	}
}

.sheet.journal-entry {
	.journal-entry-content {
		position: relative;
		background: #00000099;
		color: #ddd;
		backdrop-filter: blur(4px);

		input {
			color: #ddd;

			.theme-light & {
				color: inherit;
			}
		}

		.content-link,
		.inline-roll {
			background: #222;

			.theme-light & {
				background: inherit;
			}
		}

		.theme-light & {
			background: #effcff;
			color: inherit;
		}

		> * {
			z-index: 1;
		}

		&::before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			height: 80%;
			background-image: url("../assets/grimwild-page-texture-dark.webp");
			background-size: cover;
			mask-image: linear-gradient(to bottom, black, transparent);
			opacity: 0.75;
			z-index: 0;
			pointer-events: none;
			border-radius: 5px;
		}

		.theme-light &::before {
			background-image: url("../assets/grimwild-page-texture-light.webp");
			mask-image: linear-gradient(to bottom, black, transparent);
		}
	}
}