{{! Sheet Header }}
<header class='sheet-header'>
  <img
    class='profile-img'
    src='{{actor.img}}'
    data-edit='img'
    data-action='onEditImage'
    title='{{actor.name}}'
    height='100'
    width='100'
  />
  <div class='header-fields'>

    {{#if (eq actor.type "character") }}
      {{> "grimwild.character-header" }}
    {{/if}}

    {{#if (eq actor.type "monster") }}
      {{> "grimwild.monster-header" }}
    {{/if}}

  </div>
</header>