    <div class="grimwild-form-group">
        <label for="dice">Dice:</label>
        <input type="number" id="dice" name="dice" value="{{diceDefault}}" min="0">
    </div>
    <div class="grimwild-form-group">
        <label for="thorns">Thorns:</label>
        <input type="number" id="thorns" name="thorns" value="{{thornsDefault}}" min="0">
    </div>