@import url("https://use.typekit.net/cyl8kir.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

$font-sans: var(--font-body);
$font-display: 'tiller', sans-serif;

// $font-body: 'Crimson Pro', sans-serif;
$font-body: 'Noto Serif', 'sans-serif';
$font-dice: 'greycliff-cf', sans-serif;